@import './default.less';

// 在下面重写变量默认值
@blue-base: #3d82ff;
@orange-base: #f77234;
@gold-base: #f29e30;
@yellow-base: #f0d318;
@green-base: #47cc0e;
@cyan-base: #04d68d;
@geekblue-base: #4053ff;
@purple-base: #b732fa;
@red-base: #f53649;

@primary-color: #2d8cf0;
@primary-color-hover: #559de9;

@success-color: #00b42a;
@success-color-hover: #23c343;
@success-color-active: #009a29;

@warning-color: #f99057;
@warning-color-hover: #ff9a2e;
@warning-color-active: #d25f00;

@error-color: #f53f3f;
@error-color-hover: #f76560;
@error-color-active: #cb2634;

@layout-sider-background: #31353f;

@table-header-bg: #f2f3f5;
@border-color-split: #e5e6eb;

@heading-color: #4e5969;
@text-color: #202a37;
@text-color-secondary: #86909c;
@disabled-color: #c9cdd4;

@form-item-margin-bottom: 20px; // 表单项下边距，设置16px的话，校验message会与下一行表单项重叠
