/** gdcd theme variables */

@text-color-1: #ffffff;
@text-color-2: #c9cdd4;
@text-color-3: #86909c;
@text-color-4: #4e5969;
@text-color-5: #1d2129;

@fill-color-1: #ffffff;
@fill-color-2: #f7f8fa;
@fill-color-3: #f2f3f5;
@fill-color-4: #e5e6eb;
@fill-color-5: #c9cdd4;
@fill-color-6: #4e5969;

@line-color-1: #f2f3f5;
@line-color-2: #e5e6eb;
@line-color-3: #c9cdd4;
@line-color-4: #86909c;

@neutral-color-1: #f2f3f5;
@neutral-color-2: #dedee1;
@neutral-color-3: #51586f;
@neutral-color-4: #3e4660;
@neutral-color-5: #31353f;
@neutral-color-6: #282b33;

@success-color-1: #e8ffea;
@success-color-2: #aff0b5;
@success-color-3: #7be188;
@success-color-5: #23c343;
@success-color-6: #00b42a;
@success-color-7: #009a29;

@warning-color-1: #fff7e8;
@warning-color-2: #ffe4ba;
@warning-color-3: #ffcf8b;
@warning-color-5: #ff9a2e;
@warning-color-6: #ff7d00;
@warning-color-7: #d25f00;

@error-color-1: #ffece8;
@error-color-2: #fdcdc5;
@error-color-3: #fbaca3;
@error-color-5: #f76560;
@error-color-6: #f53f3f;
@error-color-7: #cb2634;
