@import '../../style/themes/index';
@import '../../style/mixins/index';

@table-prefix-cls: ~'@{ant-prefix}-table';
@table-border: @border-width-base @border-style-base @border-color-split;

// 设置full-height-table的样式
.@{table-prefix-cls}-wrapper {
  &.@{table-prefix-cls}-full-height {
    .full-height-table();
  }
}

.@{table-prefix-cls} {
  // 重写单元格padding
  &-thead > tr > th,
  &-tbody > tr > td,
  tfoot > tr > th,
  tfoot > tr > td {
    padding: @table-padding-vertical-sm @table-padding-horizontal-sm;
  }

  // 去掉表头栏目之间的短分隔线
  &-thead {
    & > tr > th {
      &::before {
        display: none;
      }
    }
  }

  // =========================== Content ============================
  &-content {
    border: @table-border;
  }

  &-tbody > tr:last-child > td {
    border-bottom: none;
  }

  // ========================== Pagination ==========================
  &-pagination {
    .@{ant-prefix}-pagination-options-quick-jumper {
      input {
        line-height: 32px;
      }
    }
  }

  // ========================= Placeholder ==========================
  &.@{table-prefix-cls}-empty {
    tr.@{table-prefix-cls}-placeholder {
      & > td {
        // 防止无数据时，出现横向滚动条
        // 原因是：.expanded-row-fixed 宽度设置为table的宽度，但是多了2px，是表格自身的border，所以会出现横向滚动条
        overflow: hidden;
      }
    }
  }

  // ================================================================
  // =                           Function                           =
  // ================================================================

  // ============================ Filter ============================
  &-filter-dropdown {
    // Reset menu
    .@{dropdown-prefix-cls}-menu {
      &:empty::after {
        content: '无数据';
      }
    }
  }
}

.@{table-prefix-cls}-resizable {
  .@{table-prefix-cls}-cell.react-resizable.react-resizable {
    position: relative;

    .@{table-prefix-cls}-filter-column {
      .@{table-prefix-cls}-filter-trigger {
        margin: -4px 4px -4px 0;
      }
    }

    & > .@{table-prefix-cls}-column-sorters {
      margin-right: 6px;
    }

    .react-resizable-handle {
      position: absolute;
      top: 50%;
      right: 3px;
      z-index: 1;
      width: 3px;
      height: @font-size-base;
      margin: 0;
      padding: 0;
      background: none;
      border-right: 1px solid @table-header-icon-color;
      border-left: 1px solid @table-header-icon-color;
      transform: translate(-50%, -50%);
      cursor: col-resize;
      opacity: 0;
      transition: all 0.3s;

      &::before {
        position: absolute;
        top: 50%;
        left: calc(50% - 3px);
        width: 0;
        height: 0;
        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 2px solid @table-header-icon-color;
        border-left: 2px solid @table-header-icon-color;
        transform: translate(-50%, -50%) rotate(45deg);
        opacity: 0;
        transition: all 0.3s;
        content: '';
      }

      &::after {
        position: absolute;
        top: 50%;
        left: calc(50% + 3px);
        width: 0;
        height: 0;
        border-top: 2px solid @table-header-icon-color;
        border-right: 2px solid @table-header-icon-color;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
        transform: translate(-50%, -50%) rotate(45deg);
        opacity: 0;
        transition: all 0.3s;
        content: '';
      }
    }

    &:hover {
      .react-resizable-handle {
        opacity: 1;

        &::before,
        &::after {
          opacity: 1;
        }
      }
    }
  }
}
